* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

#main {
    width: 100%;
    min-height: 100vh;
    background-color: #6c5ce7;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* border-radius: 10px; */

}

.notes {
    width: 400px;
    height: 400px;
    /* background-color: white; */
    margin: 20px;
    margin-top: 55px;
    /* border-radius: 10px; */

}

.tools {
    width: 100%;
    background-color: #2d3436;
    color: white;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.tools i {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.notes textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 20px;
}

.notes textarea:focus {
    outline: none;
    border: 0;

}

#addBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    font: 15px;
    cursor: pointer;
    border-radius: 5px;
}

